body{
	background-color:#66ffcc;
	font-family: 'Indie Flower', cursive;
}




img {
	display: block;
	height: 400px;
	width:auto;
}

#title {
	background:#cc99ff;
	width: 600px;
	border:10px dotted #ffff66;
}

#puppypicture {
	background:#66ffcc;
}